.infoLine{
    padding: 9px 16px;
    width: 100%;
    max-width: 413px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.infoLine__header{
    font-weight: 700;
    font-size: 2.1vh;
    margin-bottom: 4px;
    color: rgba(8, 31, 50, 1);
}

.infoLine__text{
    font-weight: 400;
    font-size: 1.8vh;
    color:rgba(110, 121, 140, 1)
    
}
